html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Selector */
body {
  overflow: auto;
  background-color: #fff;
  text-align: center;
  /* font-family: "Merriweather", serif;
  font-family: 'Lora', serif;
  font-family: "Open Sans", sans-serif;*/
  font-family: 'Roboto', sans-serif;
  color: rgb(40, 40, 40);
  font-size: 1rem;
  line-height: 1.5;
}
/* ------------------------------------ */
/* ----------fonts------------ */
h1 {
  color: #fff;
  font-size: 3rem;
  font-family: "Sacramento", cursive;
}
h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  color: #FF2F93;
}
h3 {
  font-size: 1.5rem;
  font-family: "Lora", serif;
}
h4 {
  font-size: 1.3rem;
  font-family: "Lora", serif;
}
h5 {
  font-size: 1.2rem;
  font-family: "Lora", serif;
}
a{
  color: rgb(40, 40, 40);;
}
a:hover{
  color: #FF2F93;
}

div.top-container h1 {
  color: #FF2F93;;
  text-align: center;
}
div.blog h4:hover{
  color: #FF2F93;
}

div.top-container p {
  /*color: #ffabe1;*/
  text-align: center;
  margin: 0 25%;
  padding-bottom: 20px;
}
/* ------------------------------------ */
/* ----------lines------------ */
hr.divider {
  border: none;
  border-top: 7px dotted #ffe6f7;
  width: 10%;
}
hr.divider:hover {
  border-color: #937dc2;
}
hr.top-part {
  border-top: 1px dotted #ffe6f7;
  width: 70%;
}
/* ------------------------------------ */
/* ----------images------------ */
img.profile {
  border-radius: 50%;
  border: 1px solid #ffabe1;
  padding: 2px;
  width: 30%;
}
img.profile:hover {
  transform: scaleX(-1);
}
img.logo {
  width: 30%;
  text-align: center;
}

/* ----------blog images----- */
.blog img {
  width: 15%;
  margin-right: 15px;
  border-radius: 50%;

}
.blog-left img {
  float: left;
}
.blog-right img {
  float: right;
}

/* ---------- Cloud - image------- */
img.top-cloud {
  margin-bottom: 20px;
  position: absolute;
  opacity: 0.5;
}
img.top-cloud:hover {
  transform: scaleX(-1);
  opacity: 0;
}
img.bottom-cloud {
  padding: 2px;
  position: absolute;
  opacity: 0.5;
}
img.bottom-cloud:hover {
  transform: scaleX(-1);
  opacity: 1;
}
/* ----------------------------- */
/* Id Selector */

/* Class Selector */
div.blog {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}
div.top-container {
  background-color: #fff;
  position: relative;
  display: inline-block;
}
div.two-column-left {
  float: left;
  height: 100%;
  width: 25%;
  border-right: 1px double #937dc2;
}

div.two-column-right {
  position: relative;
  height: 100%;
  width: 65%;
  display: inline-block;
}
