

body {
    font-family: 'Roboto Serif', serif;
    padding-top: 5px;
    text-align: center;
    color: rgb(40, 40, 40);
    line-height: 1.5;
}
hr.blog-div{
    border-top: 5px dotted #ee97c0;
    width: 10%;
    margin: 10px auto;

}
/* ------------------------------------- */
/* Font */
#container h1, h2{
  color: #FF3092;
  font-weight: bold;
  text-align: center;
}
h5{
  text-decoration: underline;
 }
#container h1{
    font-family: 'Sacramento', cursive;
    font-size:48px;
}

#container h2{
    font-family: 'Montserrat Alternates', sans-serif; 
    font-size:40px;
    text-decoration: overline underline;
    padding: auto;
    margin: 10px;;
}
.card-body p{
    font-size: 12px;
    text-align: justify;
}

/* ------------------------------------- */
/* Images Container */

#container img.profile{
    border-radius: 50%;
    width: 25%;
    border: 1px solid #FF3092;
}
#container img.profile:hover{
    transform: scaleX(-1);
    border: 1px dotted #ee97c0;
}

.navbar-brand img.logo{
    width: 80px;
}

/* ------------------------------------- */
/* Class Elements */
.vertline{
    border-right: 1px dotted #a29f9f;
    height:100%;
}
.logo-lin{
    margin-bottom: 50px;
}

.card-lin{
    text-align: left;
    margin-bottom: 10px;;
}
.card-body{
    display: inline-block;
}

.btn-lin{
    font-size: 8px;
}
.read-time{
    font-size: 12px;
    color: #FF3092;
    float: right;

}
.nav-media, .myskills{
    margin-top: 50px;
}
/* ------------------------------------- */
/* links*/

ul li a, ul.nav li a {
    color: rgb(40, 40, 40) !important;
}
ul li a, ul.nav li a:visited {
    color: rgb(60, 60, 60)!important;
}

ul li a:hover, ul.nav li a:active {
    color: #FF3092 !important;
}

ul li.active a {
    color: #FF3092 !important;
}

.card-title a{
    color:rgb(40, 40, 40);
    text-decoration:none;
}

.card-title a:hover{
    color:#ee97c0 !important;
}

.card-title a:visited{
    color:rgb(60, 60, 60);
}
/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto Serif', serif;
font-family: 'Sacramento', cursive;
*/
/* ------------------------------------- */
/* Skills*/
.details{
  width: 10 0%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
  border: 2px solid #ee97c0;
  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #ee97c0;

}
#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 90%;
  }
}
#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 75%;
  }
}
#javascript-bar{
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100%{
      width: 72%;
  }
}
#jQuery-bar{
  animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
  100%{
      width: 58%;
  }
} 